:root {
  --color-red: red;
  --color-gray: #999;
  --color-white: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--color-white);
  background: black;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  color: var(--color-white);
  background: var(--color-red);
  padding: 0.3rem 0.8rem;
  border-radius: 2px;

  /* margin-left: 1rem; */
  text-align: center;
  cursor: pointer;
}
.text-xl {
  font-size: 1.8rem;
}

.text-l {
  font-size: 1.3rem;
}
.text-m {
  font-size: 1.2rem;
}
.text-s {
  font-size: 1rem;
}

.text-dark {
  color: #999;
}

.showcase {
  background: url("https://i.ibb.co/vXqDmnh/background.jpg") no-repeat center
    center/cover;
  position: relative;
  width: 100%;
  height: 93vh;
  box-shadow: inset 2rem 1rem 10rem #000000, inset -2em -1rem 10rem #000000;
}
.showcase::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background-color: red; */
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.showcase_top {
  height: 80px;
  position: relative;
  z-index: 2;
}

.showcase_bottom {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65%;
  margin: auto;
  margin-top: 9rem;
}

.showcase_bottom h1 {
  font-weight: 700;
  font-size: 5rem;
}

.showcase_bottom p {
  text-transform: uppercase;
  line-height: 5rem;
}

.showcase_bottom a {
  text-transform: uppercase;
  font-size: 2rem;
  padding: 1rem 1.5rem;
}
.showcase_top img {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: 0;
  width: 170px;
  transform: translate(-50%, -50%);
}

.showcase_top a {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.tabs {
  background: rgb(17, 17, 17);
  color: #999;
}

.tabs .tab_box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* margin-bottom: 2rem; */
  grid-gap: 3rem;
  padding: 0 15rem;
  text-align: center;
}
.tabs .tab_box .tab {
  padding: 1.5rem 0;
}


.tabs .tab_box .show {
  border-bottom: red 3px solid;
}
.tabs i {
  font-size: 3rem;
}
.tabs .tab:hover {
  color: white;
}
.tabs .tab_box p {
  padding-top: 1rem;
}

.info {
  max-width: 70%;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.tab-1_info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
  align-items: center;
  justify-content: center;
  margin-top:2rem;
}

.tab-1_info .info_left p {
  padding-bottom: 1rem;
}
.tab-1_info .info_right img {
  width: 100%;
  min-width: 180px;
}

.tab-2_info {
  display: flex;
  flex-direction: column;
  /* margin: 0 6rem; */
}
.tab-2_info .tab-2_top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 5rem;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.tab-2_info .tab-2_bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 2rem;
  text-align: center;
}
.tab-2_info .tab-2_bottom p {
  margin: 1rem 0;
}

.tab-2_info .tab-2_bottom img {
  width: 100%;
}

.tab3_top {
  text-align: center;
  line-height: 3rem;
}

.table {
  color: #999;
  width: 100%;
  /* line-height: 2.5rem; */
  justify-content: center;
  text-align: center;
  border-collapse: collapse;
  margin: 2rem auto;
  border-spacing: 0;
  /* border: solid red 2px; */
}
#tab-1-content,#tab-2-content,#tab-3-content{
  display: none;
  opacity: 0;
}

.container .show_detail{
  display: block !important;
  opacity: 1 !important;
  transition: all 1000 ease-in;
}

.table thead {
  text-transform: uppercase;
  color: white;
}

.table thead th {
  text-transform: uppercase;
  padding: 0.8rem;
}
.table tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
.tab-3_info .table th {
  color: #999;
  padding: 0.8rem 1.2rem;
  text-align: center;
  /* color: red; */
  /* border: solid red 2px; */
}
.table th:first-child {
  text-align: left;
  /* padding-right: 10rem; */
}

.table tbody > tr:nth-child(2n + 1) {
  background-color: rgb(20, 20, 20);
}

.footer .links a {
  line-height: 2rem;
  /* background-color: blue; */
  color: #999;
}

.footer {
  max-width: 70%;
  margin: 1rem auto;
  overflow: auto;
  font-size: 0.8rem;
}
.links {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  list-style: none;
}

@media (max-width: 960px) {
  .showcase {
    width: 100%;
    height: 75vh;
  }

  .showcase_top img {
    top: 30%;
    left: 5%;
    transform: translate(0);
  }
  .showcase_bottom h1 {
    font-size: 4rem;
  }
  .showcase_bottom p {
    font-size: 1.5rem;
  }
  .showcase .btn {
    font-size: 1.5rem;
  }
  
  .footer .links {
    /* display:grid; */
    grid-template-columns: 1fr 1fr;
  }
  .tab_box p {
    display: none;
  }
  .info .tab-1_info p{
    margin-left:1rem;
    /* border:red 2px solid; */
}
}
@media (max-width: 700px) {

    .showcase::after{
        background-color: rgba(0, 0, 0, 0.6);
        box-shadow: inset 80px 80px 150px #000000, inset -80px -80px 150px #000000;
    }

    .showcase_bottom h1{
        font-size:2.5rem;
        line-height: 1;
    }

    .showcase_bottom p {
        font-size:1rem;
    }
   
    .showcase .btn{
        font-size:1rem;
    }
    .info .tab-1_info{
        margin-top:2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }
   
    .info p{
        font-size:1.2rem;
    }
    .info .tab-2_info .tab-2_top{
        display: block;
        text-align: center;

    }
    .info .tab-2_info .tab-2_top p{
       margin-bottom: 1rem;
    }
    .info .tab-2_info .tab-2_bottom{
        display:grid;
        grid-template-columns: 1fr;
        text-align: center;
    }